<h1>Basic</h1>
<ibm-notification [notificationObj]="{
				type: 'error',
				title: 'Sample notification',
				message: 'Sample error message',
				showClose: true,
				lowContrast: false}">
</ibm-notification>
<ibm-notification [notificationObj]="{
				type: 'info',
				title: 'Sample notification',
				message: 'Sample info message',
				showClose: true,
				lowContrast: false}">
</ibm-notification>
<ibm-notification [notificationObj]="{
				type: 'success',
				title: 'Sample notification',
				message: 'Sample success message',
				showClose: true,
				lowContrast: false}">
</ibm-notification>
<ibm-notification [notificationObj]="{
				type: 'warning',
				title: 'Sample notification',
				message: 'Sample warning message',
				showClose: true,
				lowContrast: false}">
</ibm-notification>

