/**
  07/13/21 night
  https://www.tutorialspoint.com/sass/nested_properties.htm
  https://sass-lang.com/documentation/style-rules/declarations#nesting
*/
.line {
  font: {
    family: Lucida Sans Unicode;
    size: 20px;
    weight: bold;
    variant: small-caps;
  }
}
