/**
  07/12/21 night
  https://www.tutorialspoint.com/sass/functions.htm
  https://sass-lang.com/documentation/modules#hsl
  https://www.w3schools.com/sass/sass_functions_color.php
*/
p {
  color: hsl(290, 60%, 70%);
}
