/**
  07/05/21 night
  https://www.tutorialspoint.com/sass/including_a_mixin.htm
  https://sass-lang.com/documentation/at-rules/mixin
*/
@mixin style {
  .cont {
    background-color: #77C1EF;
    color: #ffffff;
  }

  h3 {
    color: #ffffff;
  }
}

@include style; // Mixins are included into the current context using the @include

