<!--
10.24 night
https://www.tutorialspoint.com/angular_material7/angular_material7_sidenav.htm
    <mat-sidenav-container> - Represents the main container.
    <mat-sidenav-content> - Represents the content panel.
    <mat-sidenav> - Represents the side panel.
-->
<mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened>
    <section class="tp-section">
      <span>File</span>
    </section>
    <section class="tp-section">
      <span>Edit</span>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>Writing the Main Content here !</mat-sidenav-content>
</mat-sidenav-container>
