<!--
10.24 night
https://www.tutorialspoint.com/angular_material7/angular_material7_toolbar.htm
https://material.angular.io/components/toolbar/overview
    <mat-toolbar> - Represents the main container.
    <mat-toolbar-row> - Add a new row.
-->

<!--Single row-->
<mat-toolbar color="primary">
  <span class="gap">File</span>
  <span>Edit</span>
  <span class="filler"></span>
  <span>About</span>
</mat-toolbar>

<!--Multiple rows-->
<mat-toolbar-row>
  <span>First Row</span>
</mat-toolbar-row>
<mat-toolbar-row>
  <span>Second Row</span>
</mat-toolbar-row>
