<!--
10.27 evening
https://material.angular.io/components/chips/overview
https:/www.tutorialspoint.com/angular_material7/angular_material7_chips.htm/
-->
<mat-chip-list>
  <mat-chip>One</mat-chip>
  <mat-chip>Two</mat-chip>
  <mat-chip color="primary" selected>Three</mat-chip>
  <mat-chip color="accent" selected>Four</mat-chip>
  <mat-chip color="warn" selected>Five</mat-chip>
</mat-chip-list>

<br><br><br>
<mat-chip-list aria-label="Fish selection">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>

<!--Orientation-->
<br><br><br>
<mat-chip-list aria-label="Fish selection" class="mat-chip-list-stacked" aria-orientation="vertical">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>
