<!--
10.27 evening
https://material.angular.io/components/icon/overview
https://www.tutorialspoint.com/angular_material7/angular_material7_icons.htm

check button-toggle, fix <mat-icon>
-->
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<!--from form-field-->
<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

<!--from button -->
<mat-icon aria-label="Heart">favorite</mat-icon>

<!--from button-toggle -->
<mat-icon>format_align_left</mat-icon>
<mat-icon>format_align_center</mat-icon>
<mat-icon>format_align_right</mat-icon>
<mat-icon>format_align_justify</mat-icon>

