<!--
10.29 evening
https://www.tutorialspoint.com/angular_material7/angular_material7_progress_bar.htm
https://material.angular.io/components/progress-bar/overview
-->

<section class="tp-section">
  <label class="tp-margin">Color:</label>
  <mat-radio-group [(ngModel)]="color">
    <mat-radio-button class="tp-margin" value="primary">
      Primary
    </mat-radio-button>
    <mat-radio-button class="tp-margin" value="accent">
      Accent
    </mat-radio-button>
    <mat-radio-button class="tp-margin" value="warn">
      Warn
    </mat-radio-button>
  </mat-radio-group>
</section>
<section class="tp-section">
  <label class="tp-margin">Mode:</label>
  <mat-radio-group [(ngModel)]="mode">
    <mat-radio-button class="tp-margin" value="determinate">
      Determinate
    </mat-radio-button>
    <mat-radio-button class="tp-margin" value="indeterminate">
      Indeterminate
    </mat-radio-button>
    <mat-radio-button class="tp-margin" value="buffer">
      Buffer
    </mat-radio-button>
    <mat-radio-button class="tp-margin" value="query">
      Query
    </mat-radio-button>
  </mat-radio-group>
</section>
<section class="tp-section" *ngIf="mode === 'determinate' || mode === 'buffer'">
  <label class="tp-margin">Progress:</label>
  <mat-slider class="tp-margin" [(ngModel)]="value"></mat-slider>
</section>
<section class="tp-section" *ngIf="mode === 'buffer'">
  <label class="tp-margin">Buffer:</label>
  <mat-slider class="tp-margin" [(ngModel)]="bufferValue"></mat-slider>
</section>

<section>
  <label class="tp-margin">Mode: {{mode}}</label>
  <mat-progress-bar class="tp-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
  </mat-progress-bar>
</section>


<br><br><br><br>
<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<br><br>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<br><br>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<br><br>
<mat-progress-bar mode="query"></mat-progress-bar>


