<!--
10.25 night
https://www.tutorialspoint.com/angular_material7/angular_material7_divider.htm
<mat-divider>: create a divider, It provide a separator between two items
refer to list <mat-list>
-->
<mat-list>
  <mat-list-item>Apple</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Orange</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Banana</mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>Wei Chen</mat-list-item>
  <mat-list-item>No Divider</mat-list-item>
</mat-list>

