<h3>Basic</h3>
<ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
  <ibm-breadcrumb-item href="#1">
    Breadcrumb 1
  </ibm-breadcrumb-item>
  <ibm-breadcrumb-item href="#2">
    Breadcrumb 2
  </ibm-breadcrumb-item>
  <ibm-breadcrumb-item href="#3">
    Breadcrumb 3
  </ibm-breadcrumb-item>
</ibm-breadcrumb>

<br><br><br>
<h3>Current Page</h3>
<ibm-breadcrumb [noTrailingSlash]="noTrailingSlash">
  <ibm-breadcrumb-item href="#1">
    Breadcrumb 1
  </ibm-breadcrumb-item>
  <ibm-breadcrumb-item href="#2">
    Breadcrumb 2
  </ibm-breadcrumb-item>
  <ibm-breadcrumb-item [current]="true" href="#3">
    Breadcrumb 3
  </ibm-breadcrumb-item>
</ibm-breadcrumb>

<br><br><br>
<h3>Model</h3>
<ibm-breadcrumb
  [noTrailingSlash]="noTrailingSlash"
  [threshold]="threshold"
  [items]="createBreadcrumbItems(itemCount, content)">
</ibm-breadcrumb>

<br><br><br>
<h3>Model with templates</h3>
<ng-template #breadcrumbTemplate let-item>
  {{ templateContent }}{{ item.content }}
</ng-template>
<ibm-breadcrumb
  [noTrailingSlash]="noTrailingSlash"
  [threshold]="threshold"
  [items]="withTemplate(breadcrumbTemplate, createBreadcrumbItems(itemCount, content))">
</ibm-breadcrumb>

<br><br><br>
<h3>Skeleton</h3>
<ibm-breadcrumb skeleton="true" [noTrailingSlash]="noTrailingSlash">
  <ibm-breadcrumb-item></ibm-breadcrumb-item>
  <ibm-breadcrumb-item></ibm-breadcrumb-item>
  <ibm-breadcrumb-item></ibm-breadcrumb-item>
  <ibm-breadcrumb-item></ibm-breadcrumb-item>
</ibm-breadcrumb>
