<!--
10.27 evening
https://material.angular.io/components/button/overview
https://www.tutorialspoint.com/angular_material7/angular_material7_button.htm
<button mat-button>

fix <mat-icon>
https://stackoverflow.com/questions/49796212/angular-material-icons-not-working
-->
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button>Click me!</button>

  <button mat-raised-button>Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-flat-button>Flat</button>
  <button mat-icon-button>
    <mat-icon aria-label="Heart">favorite</mat-icon>
  </button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
  <a mat-button routerLink=".">Link</a>
</div>
