<div>
  <h1 style="margin-bottom: 1rem">Bottom placement</h1>
  <ibm-overflow-menu
    [flip]="false"
    [offset]="{ x: 0, y: 0 }">
    <ibm-overflow-menu-option (selected)="selected($event)" (click)="click($event)">
      An example option that is really long to show what should be done to handle long text
    </ibm-overflow-menu-option>
    <ibm-overflow-menu-option (selected)="selected($event)" innerClass="a-custom-class">Option 2
    </ibm-overflow-menu-option>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">A fully custom option</button>
    </li>
    <ibm-overflow-menu-option (selected)="selected($event)">Option 4</ibm-overflow-menu-option>
    <ibm-overflow-menu-option [disabled]="true" (selected)="selected($event)">Disabled</ibm-overflow-menu-option>
    <ibm-overflow-menu-option type="danger" (selected)="selected($event)">Danger option</ibm-overflow-menu-option>
  </ibm-overflow-menu>
  <ibm-placeholder></ibm-placeholder>
</div>
<div style="margin-top: 8rem">
  <h1 style="margin-bottom: 1rem">Top placement</h1>
  <ibm-overflow-menu
    [flip]="false"
    placement="top"
    [offset]="{ x: 0, y: 0 }">
    <ibm-overflow-menu-option (selected)="selected($event)" (click)="click($event)">
      An example option that is really long to show what should be done to handle long text
    </ibm-overflow-menu-option>
    <ibm-overflow-menu-option (selected)="selected($event)" innerClass="a-custom-class">Option 2
    </ibm-overflow-menu-option>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">A fully custom option</button>
    </li>
    <ibm-overflow-menu-option (selected)="selected($event)">Option 4</ibm-overflow-menu-option>
    <ibm-overflow-menu-option [disabled]="true" (selected)="selected($event)">Disabled</ibm-overflow-menu-option>
    <ibm-overflow-menu-option type="danger" (selected)="selected($event)">Danger option</ibm-overflow-menu-option>
  </ibm-overflow-menu>
  <ibm-placeholder></ibm-placeholder>
</div>
